# fly.toml app configuration file generated for ihalat

app = 'ihalat'
primary_region = 'cdg'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[mounts]]
  source = "bot_data"
  destination = "/app/data"

[env]
  PORT = "8080"
  DATABASE_PATH = "/app/data/bot_database.db"
